In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\myoungjin\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\myoungjin\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [7]:
fe = pd.read_excel('C:/Users/myoungjin/OneDrive/Desktop/DMU-JMJ/1학년2학기/교양파이썬/13주차/excelEX.xlsx')
print(fe)

    이름  독서  인성  영어  예술
0  강동원  63  93  67  71
1  송중기  89  83  71  80
2  기태영  83  76  92  98
3  김남길  94  88  73  93
4  류준열  71  83  80  88
5  박성균  67  87  92  90

In [12]:
import numpy as np
import pandas as pd
series = pd.Series ([1, 3, 4, np.nan, 6, 8])
series

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
name_series = pd.Series(['김수안', '김수전', '박동윤', '강이안','강지안'])
age_series = pd.Series([19, 23, 22, 19, 16])
sex_series = pd.Series(['여','여','남','여','남'])
grade_series = pd.Series([4.35, 4.23, 4.25, 4.37, 4.25])
print(name_series, age_series, sex_series, grade_series)

0    김수안
1    김수전
2    박동윤
3    강이안
4    강지안
dtype: object
 0    19
1    23
2    22
3    19
4    16
dtype: int64
 0    여
1    여
2    남
3    여
4    남
dtype: object
 0    4.35
1    4.23
2    4.25
3    4.37
4    4.25
dtype: float64