In [15]:
import csv

f=open('C:/Users/myoungjin/OneDrive/Desktop/DMU-JMJ/1학년2학기/교양파이썬/14주차/excelEX.csv')
data=csv.reader(f)
header=next(data)

max_score=0
max_name=''
for row in data:
    if float(row[2])>max_score:
        max_score=float(row[2])
        max_name=row[0]
print(max_name, max_score)

f.close()

강동원 93.0

In [27]:
import pandas as pd

df1 = pd.DataFrame([[93,92,95],[20,90,92],[96,95,93]],
           columns=['국어','수학','영어'],
             index=['홍길동','김유신','이순신'])
df1

     국어  수학  영어
홍길동  93  92  95
김유신  20  90  92
이순신  96  95  93

In [29]:
s1 = df1['국어']
s1

홍길동    93
김유신    20
이순신    96
Name: 국어, dtype: int64

In [28]:
df1 > 95

        국어     수학     영어
홍길동  False  False  False
김유신  False  False  False
이순신   True  False  False

In [30]:
df1.to_csv('score_정명진.csv')

In [35]:
import numpy as np
import pandas as pd
series = pd.Series([1, 3, 4, np.nan, 6, 8])
name_series = pd.Series(['김수안', '김수정', '박동윤', '강이안', '강지안'])
age_series = pd.Series([19, 23, 22, 19, 16])
sex_series = pd.Series(['여','여','남','여','남'])
grade_series = pd.Series([4.35, 4.23, 4.25, 4.37, 4.25])
print(name_series, age_series, sex_series, grade_series)

0    김수안
1    김수정
2    박동윤
3    강이안
4    강지안
dtype: object 0    19
1    23
2    22
3    19
4    16
dtype: int64 0    여
1    여
2    남
3    여
4    남
dtype: object 0    4.35
1    4.23
2    4.25
3    4.37
4    4.25
dtype: float64

In [37]:
df = pd.DataFrame({'이름': name_series, '나이': age_series, '성별': sex_series, '평점': grade_series})
print(df)

df.to_csv('name_정명진.csv')

    이름  나이 성별    평점
0  김수안  19  여  4.35
1  김수정  23  여  4.23
2  박동윤  22  남  4.25
3  강이안  19  여  4.37
4  강지안  16  남  4.25

In [50]:
import csv
f = open('C:/Users/myoungjin/OneDrive/Desktop/DMU-JMJ/1학년2학기/교양파이썬/14주차/weather.csv')
data = csv.reader(f)
header = next(data)
for row in data:
    print(row[3], end=',')
f.close()

UnicodeDecodeError: 'cp949' codec can't decode byte 0xec in position 6: illegal multibyte sequence

In [51]:
import csv
f = open('C:/Users/myoungjin/OneDrive/Desktop/DMU-JMJ/1학년2학기/교양파이썬/14주차/weather.csv')
data = csv.reader(f)
header = next(data)

max_wind = 0.0
for row in data:
  if row[2] == '' :
    wind = 0
  else :
    wind = float(row[2])
  if max_wind < wind :
    max_wind = wind

UnicodeDecodeError: 'cp949' codec can't decode byte 0xec in position 6: illegal multibyte sequence

In [52]:
import csv
import matplotlib.pyplot as plt
f = open('weather.csv')
data = csv.reader(f)
header = next(data)

monthly_wind = [ 0 for x in range(12)]
days_counted = [ 0 for x in range(12)]

for row in data:
  month = int(row[0][5:7])
  if row[3] != '' :
    wind = float(row[3])
    monthly_wind[month-1] += wind
    days_counted[month-1] += 1

for i in range(12):
  monthly_wind[i] /= days_counted[i]

plt.plot(monthly_wind, 'blue')
plt.savefig('weather_정명진.png', dpi=600)
plt.show()

f.close()

UnicodeDecodeError: 'cp949' codec can't decode byte 0xec in position 6: illegal multibyte sequence