In [4]:
person_dic = {'Name': '홍길동', 'Age': 27, 'Class': '초급'}

print(person_dic['Name'])
print(person_dic['Age'])

홍길동
27

In [ ]:
phone_book = {"홍길동": "010-1234-5678", "강감찬": "010-1234-5679", "이순신": "010-1234-5680"}
print(phone_book["강감찬"])
phone_book.keys()

010-1234-5679

dict_keys(['홍길동', '강감찬', '이순신'])

In [13]:
phone_book.values()

dict_values(['010-1234-5678', '010-1234-5679', '010-1234-5680'])

In [15]:
phone_book.items()

dict_items([('홍길동', '010-1234-5678'), ('강감찬', '010-1234-5679'), ('이순신', '010-1234-5680')])

In [18]:
for name, phone_num in phone_book.items():
    print(name,':',phone_num)

홍길동 : 010-1234-5678
강감찬 : 010-1234-5679
이순신 : 010-1234-5680

lab8-1

In [17]:
stores = { "커피음료": 7, "펜": 3, "종이컵": 2, "우유": 8, "콜라": 4, "책": 5}
print("재고 :",stores[input("물건의 이름을 입력하시오: ")])

재고 : 4

In [19]:
numbers = {2,1,3}
numbers

{1, 2, 3}

In [20]:
set([1, 2, 3, 1, 2])

{1, 2, 3}

In [21]:
set("abcdefa")

{'a', 'b', 'c', 'd', 'e', 'f'}

In [22]:
n_list = [1, 2] + [1, 2, 3]
print('n_list =', n_list)

n_list = [1, 2, 1, 2, 3]

In [10]:
n_set = {1, 2} + {1, 2, 3}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [6]:
numbers = {2, 1, 3}
if 1 in numbers:
    print("집합 안에 1이 있습니다.")
else:
    print("집합 안에 1이 없습니다.")

집합 안에 1이 있습니다.

In [25]:
numbers = {2, 1, 3}
for x in numbers:
    print(x, end=" ")

1 2 3

In [12]:
a = set("uwyetrjahsgdfmzbxcnv")
for x in sorted(a):
    print(x, end=" ")

a b c d e f g h j m n r s t u v w x y z

In [28]:
numbers = {1, 2, 3}
numbers.add(4)
numbers

{1, 2, 3, 4}

In [29]:
numbers.remove(4)
numbers

{1, 2, 3}

In [30]:
a_list = ['hello', 'world', 'welcome', 'to', 'python']
'python' in a_list

True